.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid var(--primary-color);
    box-shadow: var(--primary-color) 0px 0px 8px 0px;
}

.form {
    display: flex;
    flex-direction: column;
}

.heading {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    & h3 {
        font-size: 2.4rem;
    }
}

.logo {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: var(--font-size);

    & .logo-img {
        fill: currentColor;
        margin-right: 6px;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-item__label {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.form-item__input {
    padding: 8px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 1.8rem;
    caret-color: var(--primary-color);

    &:focus {
        box-shadow: var(--primary-color) 0px 0px 3px 0px;
        border-color: var(--primary-color);
        transition: box-shadow 300ms ease-in-out 0s, border-color 300ms ease-in-out 0s;
    }
}

.form-item__error-msg {
    font-size: 1.4rem;
    height: 2.1rem;
    color: var(--primary-color);
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 8px;
    background-color: #f12242;
    color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    transition: background-color 200ms ease-in-out 0s;
    -webkit-transition: background-color 200ms ease-in-out 0s;
    -moz-transition: background-color 200ms ease-in-out 0s;
    -ms-transition: background-color 200ms ease-in-out 0s;
    -o-transition: background-color 200ms ease-in-out 0s;
    &:hover {
        background-color: #ec4e66;
    }

    &:disabled {
        opacity: 0.5;
    }

    &:disabled:hover {
        background-color: #f12242;
    }

    &.success {
        background-color: #198754;
    }

    & > p {
        margin-left: 4px;
    }
}
