.container {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 50%;
    max-width: 800px;

    @media screen and (max-width: 905px) {
        width: 100%;
    }
}

.content {
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    overflow: hidden;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
}

.close-btn {
    @media screen and (max-width: 905px) {
        left: 0 !important;
    }
}
