.container {
    margin: 12px 0;
    transition: box-shadow 0.3s;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.container:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.img-container {
    width: 100%;
    cursor: pointer;
}

.img {
    display: block;
    width: 100%;
}

.desc {
    background-color: rgb(192, 190, 190);
    padding: 8px 16px;
}

.author {
}
